body{
background-color: #E7FFCE;
}
.logo{
width: 25%;
}
.logos{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}
.linkbar{
background-color: #FFFFF0;
display: flex;
justify-content: space-around;
padding: 15px;
font-size: 20px;
text-align: center;
border: 3px solid #123456;
}
.projname{
font-size: 80px;
color: #123456;
text-align: center;
}
.moonbase{
margin: auto;
display: block;
width: 45%;
}
.container{
display: flex;
justify-content: space-around;
}
.specifications{
background-color: #FFFFF0;
width: 75%;
line-height: 40px;
padding: 10px;
color: #123456;
font-size: 20px;
}
@media only screen and (max-width: 900px){
.logo{
width: 20%;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
}
.car{
width: 90%;
}
.performance{
width: 80%;
}
.other{
width: 80%;
}
.photo{
text-align: center;
justify-content: space-evenly;
}
}